/* Cores e tamanho de letrdas usadas no figma
botao iniciar
    botao-cor: 00C6E1 transparencia 40% blur: 20  y: 4  x: 0 
    letra-  cor:white  tamanho:50
botao de adicionar letra 
    botao- cor: 1EB511 transparencia 25% blur: 4  y: 4  x: 0 
    letra - cor: white  tamanho:15
barra de letras erradas
    barra-  cor: E10000 transparencia 14%
    letra: black
tamanho das letras
    nome do jogo tamanho:60 
    dica  tamanho:25 
    letras: 40 */ 

body {
    font-family: 'Roboto Slab', serif;
    width: 100vw;
    height: 100vh; 
}


/* PAGINA INICIAL */

.logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0%;
}


.btnStart {
    background-color:#00C6E1;
    border: none ;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(00, 00, 00, .2);
    margin: 5%;
    height: 50px;
    width: 300px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 25px;
    color: white; 
} 


/* PAGINA DE JOGO */

h1{
    text-align: center;
}


.container {
    margin: 0 0;
    display: flex; 
    /* flex-direction: row;   */
    justify-content: space-around;
}

#hangman {
    margin:5%;
}

.play {
    width: 100%;
    margin: 5% 0;
}

.play h4 {
 padding: 0 15px;
}

.play span {
    padding: 0 10px;
}

.play h2 {
    margin: 10% 0;
    margin-bottom: 0;
    padding: 5% 0;
    font-weight: 100;
}

.play h3 {
    background-color: #e100001f;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
}

.play p {
    margin: 0;
}

.input  {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background-color: rgba(169, 169, 169, 0.322);
    border: none;
    margin: 2% 2.5%;
    height: 7%;  
    min-width: 5%; 
    padding: 0 2%;
}

.insert{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
    background-color:#1EB511;
    border: none;
    border-radius: 20px;
    min-width: 10%;
    height: 35px;
    margin:  2.5%;
    cursor: pointer;
}


.guess{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
    background-color:#1157da;
    border: none;
    border-radius: 20px;
    min-width: 15%;
    height: 35px;
    margin: 2.5%;
    cursor: pointer;
}


/* Modal */


.modalBackground {
    width: 100vw;
    height: 100vh;
    background: rgba(00, 00, 00, 0.5);   
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

/*  e para aparecer o modal de vitoria ou perda */
.modalBackground.show {
    display: flex;
}


.display {
    background: white;
    min-width: 10%;
    min-width: 10%;   
    text-align: center;
    padding: 35px; 
    box-shadow: 6px 6px 6px 6px rgba(00, 00, 00, .1);
}

/* animacao para aparecer o modal de perda ou vitoria */

@keyframes displays {
    from {
        opacity: 0;
        transform:translate3d(0 -60px 0) ;
    }
    to {
    opacity: 1;
    transform: translate3d(0 0 0);

    }
}

.show .display {
    animation: displays .3s;
}
 
.display button {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
    background-color:#1157da;
    box-shadow: 0px 4px 4px 2px rgba(00, 00, 00, .3);
    border: none;
    border-radius: 20px;
    min-width: 50%;
    height: 35%;
    cursor: pointer;
}

